.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .register-container p {
    text-align: center;
    margin-top: 20px;
    color: #1ea033;
  }
  
  .register-box {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 100px;
  }
  
  body {
    background-color: rgb(197, 194, 194);
  }