/* RetractablePanel.css */
:root {
    --panel-sticking-out: 300px; /* Define a CSS variable for the sticking-out part */
  }
  
  .panel-container {
    position: fixed;
    top: 50px;
    right: calc(.05 * var(--panel-sticking-out)); /* Use the CSS variable to control how much of the panel sticks out */
    width: 1* var(--panel-sticking-out); /* Use the CSS variable to control the width of the panel */
    height: 50px; /* Set the height of the retracted panel */
    background-color: #f2f2f2;
    transition: right 0.3s ease;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .panel-container.open {
    right: 0;
    height: 100%; /* Expand the panel to full height when open */
  }